In [3]:
import pandas as pd

diabetes = pd.read_csv('diabetes.csv')
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
print(diabetes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
None

In [5]:
print(diabetes.describe())

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479
std       3.369578   31.972618      19.355807      15.952218  115.244002
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000
75%       6.000000  140.250000      80.000000      32.000000  127.250000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age     Outcome
count  768.000000                768.000000  768.000000  768.000000
mean    31.992578                  0.471876   33.240885    0.348958
std      7.884160                  0.331329   11.760232    0.476951
min      0.000000                  0.078000   21.000000    0.000000
25%     27.300000                  0.243750   24.000000    0.000000
50%     32.000000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000

In [6]:
print(diabetes.isnull().sum())

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [11]:
# Single Column Operations
Glucose = diabetes['Glucose']
print(Glucose)
print(type(Glucose))
print(Glucose.dtype)
print(f'First 5 rows of Glucose column:\n{Glucose.head()}')
print(f'First 5 rows of Glucose column in list:\n{Glucose.head().tolist()}')

0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64
<class 'pandas.core.series.Series'>
int64
First 5 rows of Glucose column:
0    148
1     85
2    183
3     89
4    137
Name: Glucose, dtype: int64
First 5 rows of Glucose column in list:
[148, 85, 183, 89, 137]

In [3]:
import pandas as pd
diabetes = pd.read_csv('diabetes.csv')
diabetes_info = diabetes[['Pregnancies', 'Glucose', 'BloodPressure']]
print(diabetes_info.head())

   Pregnancies  Glucose  BloodPressure
0            6      148             72
1            1       85             66
2            8      183             64
3            1       89             66
4            0      137             40

In [12]:
first_five_patient = diabetes.iloc[0:5]
print(first_five_patient)
print('-'*50)
print(first_five_patient[['Pregnancies', 'Glucose', 'BloodPressure']])

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1
--------------------------------------------------
   Pregnancies  Glucose  BloodPressure
0            6      148             72
1            1       85             66
2            8      183             64
3            1       89             66
4            0      137             40

In [13]:
patient = diabetes.loc[0:5, ['Glucose', 'BloodPressure', 'SkinThickness']]
print(patient)

   Glucose  BloodPressure  SkinThickness
0      148             72             35
1       85             66             29
2      183             64              0
3       89             66             23
4      137             40             35
5      116             74              0

In [ ]:
missing_counts = diabetes.isnull().sum()
print("Missing values per column:")
print(missing_counts[missing_counts > 0])    ## There is no null value in the dataset

Missing values per column:
Series([], dtype: int64)

In [27]:
import urllib.request

url = 'https://monashdatafluency.github.io/python-workshop-base/modules/data/surveys.csv'
urllib.request.urlretrieve(url, 'surveys.csv')

('surveys.csv', <http.client.HTTPMessage at 0x1fda0489490>)

In [28]:
surveys = pd.read_csv('surveys.csv')
surveys

,record_id,month,day,year,site_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [1]:
import pandas as pd

surveys = pd.read_csv('surveys.csv')
missing_counts = surveys.isnull().sum()
print("Missing values per column:")
print(missing_counts[missing_counts > 0])

Missing values per column:
species_id          763
sex                2511
hindfoot_length    4111
weight             3266
dtype: int64

In [2]:
missing_percentage = (surveys.isnull().sum() / len(surveys)) * 100
print("\nPercentage of missing values:")
print(missing_percentage[missing_percentage > 0])

Percentage of missing values:
species_id          2.146333
sex                 7.063490
hindfoot_length    11.564320
weight              9.187319
dtype: float64

In [7]:
surveys_cleaned = surveys.copy()
print(f"Original shape: {surveys_cleaned.shape}")
surveys_no_na = surveys_cleaned.dropna()
print(f"After dropping all NAs: {surveys_no_na.shape}")

Original shape: (35549, 9)
After dropping all NAs: (30676, 9)

In [13]:
surveys_drop_cols = surveys_cleaned.dropna(axis=1)
print(f"After dropping columns with NAs: {surveys_drop_cols.shape}")

After dropping columns with NAs: (35549, 5)

In [14]:
if 'hindfoot_length' in surveys_cleaned.columns:
    median_hindfoot_length = surveys_cleaned['hindfoot_length'].median()
    surveys_cleaned['hindfoot_length'].fillna(median_hindfoot_length, inplace=True)
    print(f"Filled missing hindfoot lengths with median: {median_hindfoot_length:.1f}")

Filled missing hindfoot lengths with median: 32.0

C:\Users\KIRAN\AppData\Local\Temp\ipykernel_21064\2849486668.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  surveys_cleaned['hindfoot_length'].fillna(median_hindfoot_length, inplace=True)

In [16]:
if 'site_id' in surveys_cleaned.columns:
    mode_site_id = surveys_cleaned['site_id'].mode()[0]
    surveys_cleaned['site_id'].fillna(mode_site_id, inplace=True)
    print(f"Filled missing site IDs with mode: {mode_site_id:.1f}")

Filled missing site IDs with mode: 12.0

C:\Users\KIRAN\AppData\Local\Temp\ipykernel_21064\172256244.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  surveys_cleaned['site_id'].fillna(mode_site_id, inplace=True)

In [17]:
# Check missing values after cleaning
print(f"\nMissing values after cleaning: {surveys_cleaned.isnull().sum()}")

Missing values after cleaning: record_id             0
month                 0
day                   0
year                  0
site_id               0
species_id          763
sex                2511
hindfoot_length       0
weight             3266
dtype: int64

In [18]:
males = surveys_cleaned[surveys_cleaned['sex'] == 'M']
print(f"Number of males: {males.shape[0]}")

Number of males: 17348

In [20]:
print('First 6 males are:')
print(males.head(6))

First 6 males are:
   record_id  month  day  year  site_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
3          4      7   16  1977        7         DM   M             36.0
4          5      7   16  1977        3         DM   M             35.0
5          6      7   16  1977        1         PF   M             14.0
7          8      7   16  1977        1         DM   M             37.0

   weight
0     NaN
1     NaN
3     NaN
4     NaN
5     NaN
7     NaN

In [21]:
species = surveys_cleaned[surveys_cleaned['species_id'].isin(['DM', 'AH'])]
print(f"Number of selected species: {len(species)}")

Number of selected species: 11033

In [23]:
if 'hindfoot_length' in surveys_cleaned.columns:
    print(f"Mean hindfoot length: {surveys_cleaned['hindfoot_length'].mean():.1f}")
    print(f"Median hindfoot length: {surveys_cleaned['hindfoot_length'].median():.1f}")
    print(f"Standard deviation of hindfoot length: {surveys_cleaned['hindfoot_length'].std():.1f}")

Mean hindfoot length: 29.6
Median hindfoot length: 32.0
Standard deviation of hindfoot length: 9.0

In [25]:
if 'sex' in surveys_cleaned.columns:
    print("Sex distribution:")
    print(surveys_cleaned['sex'].value_counts())

Sex distribution:
sex
M    17348
F    15690
Name: count, dtype: int64

In [26]:
if 'sex' in surveys_cleaned.columns and 'weight' in surveys_cleaned.columns:
    weight_by_sex = surveys_cleaned.groupby('sex')['weight'].mean()
    print("Average weight by sex:")
    print(weight_by_sex)

Average weight by sex:
sex
F    42.170555
M    42.995379
Name: weight, dtype: float64

In [27]:
# Pivot Table
if 'hindfoot_length' in surveys_cleaned.columns and 'weight' in surveys_cleaned.columns:
    pivot_multiple = pd.pivot_table(
        surveys_cleaned,
        values=['hindfoot_length', 'weight'],
        index='sex',
        columns='site_id',
        aggfunc='mean',
        fill_value=0
    )
    print("\nHindfoot Length and Weight by Sex and Site ID:")
    print(pivot_multiple)

Hindfoot Length and Weight by Sex and Site ID:
        hindfoot_length                                              \
site_id              1          2          3          4          5
sex
F             31.746462  30.259794  24.050392  33.196101  29.085389
M             34.201826  30.450175  24.105952  33.996117  29.808874

                                                                ...  \
site_id         6          7          8          9          10  ...
sex                                                             ...
F        27.260516  20.582090  32.179762  34.935522  19.304965  ...
M        27.695026  20.798046  33.681587  34.071713  20.267606  ...

            weight                                                         \
site_id         15         16         17         18         19         20
sex
F        26.670236  25.810427  48.176201  36.963514  21.978599  52.624406
M        27.523691  23.811321  47.558853  43.546952  20.306878  44.197279


site_id         21         22         23         24
sex
F        25.974832  53.647059  20.564417  47.914405
M        22.772622  54.572531  18.941463  39.321503

[2 rows x 48 columns]

In [28]:
# Set index
if 'hindfoot_length' in surveys_cleaned.columns:
    df_with_index = surveys_cleaned.copy()
    df_with_index = df_with_index.set_index('hindfoot_length')
    print(f"Shape after setting hindfoot_length as index: {df_with_index.shape}")
    print("First few rows with hindfoot_length as index:")
    print(df_with_index.head(3))

    # Reset index
    df_reset = df_with_index.reset_index()
    print(f"\nShape after resetting index: {df_reset.shape}")

Shape after setting hindfoot_length as index: (35549, 8)
First few rows with hindfoot_length as index:
                 record_id  month  day  year  site_id species_id sex  weight
hindfoot_length
32.0                     1      7   16  1977        2         NL   M     NaN
33.0                     2      7   16  1977        3         NL   M     NaN
37.0                     3      7   16  1977        2         DM   F     NaN

Shape after resetting index: (35549, 9)

In [29]:
# Apply function to create new columns
if 'year' in surveys_cleaned.columns:
    surveys_cleaned['Age_group'] = surveys_cleaned['year'].apply(
        lambda x: '90s Kid' if x < 2000 else '2000s Kid'
    )

    print("Age group distribution:")
    print(surveys_cleaned['Age_group'].value_counts())

Age group distribution:
Age_group
90s Kid      30158
2000s Kid     5391
Name: count, dtype: int64

In [37]:
import pandas as pd
import numpy as np

print("\n10.3 Working with Dates:")
print("-" * 30)

# Create sample date data
date_range = pd.date_range(start='2020-01-01', end='2020-01-10', freq='D')
date_df = pd.DataFrame({
    'date': date_range,
    'value': np.random.randn(len(date_range))
})

print("Sample date data:")
print(date_df.head())

# Extract date components
date_df['year'] = date_df['date'].dt.year
date_df['month'] = date_df['date'].dt.month
date_df['dayofweek'] = date_df['date'].dt.dayofweek
date_df['weekday_name'] = date_df['date'].dt.day_name()

print("\nDate with extracted components:")
print(date_df[['date', 'year', 'month', 'dayofweek', 'weekday_name']].head())

10.3 Working with Dates:
------------------------------
Sample date data:
        date     value
0 2020-01-01  0.931361
1 2020-01-02 -0.099340
2 2020-01-03 -1.961821
3 2020-01-04  1.264508
4 2020-01-05  0.787092

Date with extracted components:
        date  year  month  dayofweek weekday_name
0 2020-01-01  2020      1          2    Wednesday
1 2020-01-02  2020      1          3     Thursday
2 2020-01-03  2020      1          4       Friday
3 2020-01-04  2020      1          5     Saturday
4 2020-01-05  2020      1          6       Sunday

In [30]:
print("\n10.4 Data Validation and Quality Checks:")
print("-" * 30)

# Check for duplicates
duplicates = surveys_cleaned.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

# Memory usage
print(f"\nDataset memory usage: {surveys_cleaned.memory_usage(deep=True).sum() / 1024:.2f} KB")

10.4 Data Validation and Quality Checks:
------------------------------
Number of duplicate rows: 0

Dataset memory usage: 7346.83 KB